<div class="hero-unit">
    <h1>Meme Share</h1>
    <p>
      You've found the home page for the
      <%= link_to 'Meme Share', root_path %>
      application.
    </p>
    <p>
      <%= link_to 'Sign Up Now!', new_user_registration_path, class: 'btn btn-primary btn-large' %>
    </p>
</div>